* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #201e2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tower-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tower-container .tower {
    position: relative;
    width: 30%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
}

.tower-container .tower::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    border-radius: 30px;
    content: "";
    width: 10px;
    height: 500px;
    background-color: #ac4819;
    border-radius: 1px;
}

.tower-container .tower::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%);
    border-radius: 30px;
    content: "";
    width: 100%;
    height: 10px;
    background-color: #ac4819;
    border-radius: 1px;
}

.tower-container .tower .disk {
    position: relative;
    z-index: 1;
    height: 50px;
    border-radius: 8px 8px 0 0;
    align-self: center;
}

/* Settings */
.settings {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    color: rgb(168, 165, 165);
    display: flex;
}

.settings .settings__item label {
    background-color: transparent;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

.settings .settings__item input {
    width: 30px;
    background-color: transparent;
    border: 0;
    outline: none;
    color: rgb(168, 165, 165);
    font-weight: bold;
}

.settings .settings__timer {
    margin-right: 10px;
    margin-left: 30px;
}

.settings .settings__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.settings .settings__action .action {
    margin: 0 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.settings .settings__action .action:hover {
    color: #ac4819;
}

.game-over-container {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over-content {
    background-color: #544e77;
    width: 50%;
    margin: 100px auto;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.game-over-content h1 {
    color: #ac4819;
    font-size: 30px;
}

.game-over-content p {
    font-size: 18px;
}

.game-over-content  #congratulations-message {
    margin: 20px 0;
}

.game-over-content #score_timing, #score_moves {
    font-weight: bold;
    color: #008000;
}

.game-over-content button {
    margin-top: 15px;
    padding: 10px;
    background-color: #ac4819;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}